-r requirements.txt

bandit==1.7.4
black==22.3.0
codespell==2.1.0
flake8-unused-arguments==0.0.10
flake8==4.0.1
freezegun==1.2.1
ipdb==0.13.9
isort==5.10.1
mypy==0.960
pre-commit==2.19.0
pylint==2.14.0
pytest==7.1.2
pyupgrade==2.32.1
types-click==7.1.8
types-freezegun==1.1.9
types-requests==2.27.30
vulture==2.4
