name: Tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Linting
        run: |
          black --line-length 119 --check --diff .
          isort --check-only --diff .
          flake8 .
          pylint --rcfile=.pylintrc deps
          codespell deps
          find . -name '*.py' -exec pyupgrade {} +
      - name: Typecheck with mypy
        run: mypy deps --ignore-missing-imports --disallow-untyped-defs
      - name: Test with pytest
        run: pytest -vvv -s
